h1 {
  color: palevioletred;
}

.recipeImg {
  width: 500px;
  height: auto;
}

.recipeList a {
  color: black;
  text-decoration: none;
}

.recipeList li {
  padding: 20px 20px 20px 20px;
  list-style: none;
}

/*.recipeList a:hover {
  color: palevioletred;
}*/

a:hover {
  color: palevioletred;
}
